<!-- Header / Navigation -->
<div class="hero-header">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="brand-name">Mitku</div>
    <nav>
      <a href="#">Get in Touch</a>
    </nav>
  </div>
</div>
<!-- Statement -->
<div class="statement">
  WE ARE YOUR CONNECTION TO THE BEST SHOPPING EXPERIENCE
</div>

<!-- Profile Section -->
<div class="profile-section">
  <div class="container">
     <img src="assets/img/mitku.png" 
     alt="Mitku" 
     style="width: 200px; border: 2px solid blue;" />
    <h3 class="mt-3">MITKU Minwuye</h3>
    <p class="text-muted">Founder & Lead Curator</p>
    <p class="mx-auto" style="max-width: 600px;">
      Mitku is passionate about sourcing the best local and international products for every shopper. With an eye for quality and value, he leads the platform with a vision to transform how Ethiopia shops online.
    </p>
  </div>
</div>


<!-- Baltina Shop Categories Section -->
<div class="services-section baltina-theme">
  <div class="container">
    <h2>የባልቲና ምድቦች (Baltina Shop Categories)</h2>
    <div class="row">
      <div class="col-md-3 service-col">
        <h5>ቅመምና ቅቤ (Spices & Oils)</h5>
        <p>
          ቅመም (Spices)<br>
          ቅቤ (Ghee)<br>
          ዘይት (Oil)<br>
          በርበሬ (Berbere)<br>
          ሽሮ (Shiro)
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>የምግብ መሳሪያ (Kitchen Tools)</h5>
        <p>
          መክተፍያ (Grinders)<br>
          መቀመጫ (Clay Plates)<br>
          የአገልግሎት ሳህን (Serving Bowls)<br>
          የቡና መሳሪያ (Coffee Tools)<br>
          አሰሪ (Sifet/Sieve)
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>ማህበራዊ እቃዎች (Cultural Items)</h5>
        <p>
          ከራ ተሸከሚዎች (Hand Carriers)<br>
          የባልቲና ጌጣጌጥ (Traditional Jewelry)<br>
          የቡና አልባሳት (Coffee Attire)<br>
          ግራጫ (Baskets)<br>
          ጭልፋ (Scarves/Shawls)
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>አስፈላጊ ነገሮች (Daily Essentials)</h5>
        <p>
          ማስጠበሻዎች (Containers)<br>
          የቤት ጽዳት እቃዎች (Cleaning Supplies)<br>
          እንቁላል እና እርስዎ (Eggs & Dairy)<br>
          የቤት ግቢ (Home Garden Seeds)<br>
          እናት እና ሕፃን እቃዎች (Mother & Baby Products)
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Services Section -->
<div class="services-section">
  <div class="container">
    <h2>OUR SERVICES</h2>
    <div class="row">
      <div class="col-md-3 service-col">
        <h5>FASHION</h5>
        <p>Clothing<br>Shoes<br>Accessories<br>Watches<br>Jewelry</p>
      </div>
      <div class="col-md-3 service-col">
        <h5>ELECTRONICS</h5>
        <p>Phones<br>Computers<br>TVs<br>Gaming<br>Smart Home</p>
      </div>
      <div class="col-md-3 service-col">
        <h5>BEAUTY</h5>
        <p>Skin Care<br>Hair Care<br>Fragrances<br>Makeup<br>Grooming</p>
      </div>
      <div class="col-md-3 service-col">
        <h5>ESSENTIALS</h5>
        <p>Home Supplies<br>Health Items<br>Groceries<br>Baby Products<br>Cleaning Tools</p>
      </div>
    </div>
  </div>
</div>


<!-- Sheketa Sheket Shop Categories Section -->
<div class="services-section sheketa-theme">
  <div class="container">
    <h2>Sheketa Sheket Collections</h2>
    <div class="row">
      <div class="col-md-3 service-col">
        <h5>Urban Wear</h5>
        <p>
          Graphic T-Shirts<br>
          Streetwear Hoodies<br>
          Cargo Pants<br>
          Sneakers<br>
          Accessories (Caps, Shades)
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Trendy Gadgets</h5>
        <p>
          Bluetooth Speakers<br>
          Wireless Earbuds<br>
          Smart Watches<br>
          Ring Lights<br>
          Phone Stands
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Beauty & Flex</h5>
        <p>
          Lip Gloss & Makeup Kits<br>
          Skin Brighteners<br>
          Nail Art Kits<br>
          Hair Extensions<br>
          Perfume Sprays
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Everyday Vibes</h5>
        <p>
          Chill Wear (Pajamas, Slides)<br>
          Room Decor (Posters, Lights)<br>
          Custom Phone Cases<br>
          Notebooks & Journals<br>
          Mini Bags & Pouches
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Stok Shop Services Section -->
<div class="services-section stok-theme">
  <div class="container">
    <h2>WHAT WE STOCK</h2>
    <div class="row">
      <div class="col-md-3 service-col">
        <h5>Bulk Groceries</h5>
        <p>
          Rice, Flour, Oil<br>
          Packaged Snacks<br>
          Spices & Condiments<br>
          Canned Foods<br>
          Beverages
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Home & Kitchen</h5>
        <p>
          Cookware Sets<br>
          Cleaning Supplies<br>
          Storage Containers<br>
          Kitchen Tools<br>
          Small Appliances
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Office & School</h5>
        <p>
          Stationery<br>
          Notebooks & Files<br>
          Printers & Ink<br>
          Backpacks<br>
          Chairs & Desks
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>Budget Electronics</h5>
        <p>
          Phones & Accessories<br>
          Bluetooth Devices<br>
          Power Banks<br>
          LED Bulbs<br>
          Extension Cables
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Ye Habesha / Ethiopian Shop Services Section -->
<div class="services-section">
  <div class="container">
    <h2>የእኛ አገልግሎቶች (Our Services)</h2>
    <div class="row">
      <div class="col-md-3 service-col">
        <h5>ልብስ እና ቋት (Traditional Wear)</h5>
        <p>
          ሐበሻ ቀሚስ (Habesha Kemis)<br>
          ቦርሳ (Handbags)<br>
          ጫማዎች (Shoes)<br>
          አክሰሰሪ (Accessories)<br>
          እጅ የተሠሩ ዕቃዎች
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>ቤት ተዳራሽ እቃዎች (Household Goods)</h5>
        <p>
          ምግብ ቁሳቁሶች<br>
          መስቀል እና መጽሐፍት<br>
          መጋገሪያ እቃዎች<br>
          ክብ እና ምርቶች<br>
          እቃ ማከማቻ
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>የምግብ ምርቶች (Ethiopian Foods)</h5>
        <p>
          ቡና (Coffee)<br>
          በርበሬ እና ሚጥሚጣ<br>
          ደርሰ ዳቦ (Traditional Bread)<br>
          ኢንጀራ (Injera)<br>
          ተለዋዋጭ ቁሳቁሶች
        </p>
      </div>
      <div class="col-md-3 service-col">
        <h5>የውበት እና የጤና እቃዎች</h5>
        <p>
          ነጭ ዱቄት (Flour Soap)<br>
          እንደበት ዘይት<br>
          የቆዳ እንክብካቤ<br>
          የፀጉር እቃዎች<br>
          ባህላዊ ዕንቅፋቃፎች
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Clients Section -->
<div class="clients">
  <h4>SOME OF OUR PARTNERS</h4>
  <div class="d-flex justify-content-center align-items-center mt-3 flex-wrap">
    <img src="assets/img/hiwi.jpg" alt="Hiwot" />
    <img src="assets/img/simie.jpg" alt="Simachew" />
    <img src="assets/img/barew.jpg" alt="Bereket" />
    <img src="assets/img/yeab.jpg" alt="Yeabsira" />
        <img src="assets/img/ethiel.jpg" alt="Ethiel" />
    <img src="assets/img/yoni.jpg" alt="Yohanan" />
  </div>
</div>