<main class="main">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <!-- Logo -->
            <!-- <a routerLink="/" class="logo d-flex align-items-center me-auto"> -->
                <h1 class="sitename">Mitku-Shopping</h1>
            <!-- </a> -->

            <!-- Nav Menu -->
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li><a routerLink="/about">About</a></li>

                </ul>
            </nav>

            <!-- Search + Profile Section -->
            <div class="header-right d-flex align-items-center">

                <!-- User Dropdown -->
                <div class="dropdown">
                    <button class="btn btn-user dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
</main>