.price-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.card {
  border-radius: 12px;
  border: none;
}

.btn-sm {
  min-width: 100px;
}

input[type="number"] {
  max-width: 80px;
  margin-left: 10px;
}

.product-name {
  flex: 1;
}


.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-body {
  padding: 12px;
}

.badge {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.btn-sm {
  font-size: 0.8rem;
}
